@font-face {
    font-family: 'Sunlight Dreams';
    src: url('SunlightDreams-Regular.woff2') format('woff2'),
        url('SunlightDreams-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

