$primary100: #e2f1f2;
$primary200: #bbd9db;
$primary300: #a2c8cc;
$primary400: #5b9ea4;
$primary500: #1c6972;
$primary600: #104d57;
$primary700: #00333a;

$secondary100: #fff3ec;
$secondary200: #ffe1ca;
$secondary300: #ffd0b3;
$secondary400: #f9a473;
$secondary500: #f28647;
$secondary600: #c3642a;
$secondary700: #8b410f;

$accent300: #c1fff9;
$accent400: #98fff4;
$accent500: #62fbef;
$accent600: #28cac1;
$accent700: #008a82;

$neutrals100: #fffffe;
$neutrals200: #fbfaf9;
$neutrals300: #f5f3f2;
$neutrals400: #bea8a0;
$neutrals500: #4e2a24;
$neutrals600: #2c140f;
$neutrals700: #070707;
