$forestFantasy: (
  'red': #400510,
  'blue': #206a73,
  'cyan': #63fbef,
  'brown': #502d27,
  'orange': #f28742
);

$artNouveau1: (
  'black': #0b0c0d,
  'yellow': #8c7a1f,
  'beige': #eee4a9,
  'red': #732002,
  'blue': #9ac3c5
);

$artNouveau2: (
  'red': #a62e44,
  'yellow': #f2d272,
  'green': #919959,
  'brown': #74502c,
  'cyan': #bbcbc1
);
