$primary100: #e2f1f2;
$primary200: #bcdadc;
$primary300: #a3c9cd;
$primary400: #5c9fa5;
$primary500: #206a73;
$primary600: #174f58;
$primary700: #0d353c;

$secondary100: #fff3ec;
$secondary200: #ffe1cb;
$secondary300: #ffd1b4;
$secondary400: #f9a574;
$secondary500: #f28749;
$secondary600: #c4652d;
$secondary700: #8c4316;

$accent300: #c2fff9;
$accent400: #99fff4;
$accent500: #63fbef;
$accent600: #2bcbc2;
$accent700: #0f8b83;

$neutrals100: #ffffff;
$neutrals200: #fbfaf9;
$neutrals300: #f5f3f2;
$neutrals400: #bfa9a1;
$neutrals500: #502d27;
$neutrals600: #2f1a16;
$neutrals700: #121212;
