$neutrals100: #ffffff;
$neutrals200: #cdcbcb;
$neutrals300: #b4b1b1;
$neutrals400: #9b9797;
$neutrals500: #827d7d;
$neutrals600: #686464;
$neutrals700: #4e4b4b;
$neutrals800: #343232;
$neutrals900: #1a1919;
$neutrals950: #121111;

$primary50: #f2e9fc;
$primary100: #e5d3f8;
$primary200: #cba6f2;
$primary300: #b17aeb;
$primary400: #964ee4;
$primary500: #7c21de;
$primary600: #631bb1;
$primary700: #4b1485;
$primary800: #320d59;
$primary900: #19072c;
$primary950: #11051f;

$secondary50: #e9effb;
$secondary100: #d3dff8;
$secondary200: #a7c0f1;
$secondary300: #7ba0ea;
$secondary400: #5081e2;
$secondary500: #2461db;
$secondary600: #1d4eaf;
$secondary700: #153a84;
$secondary800: #0e2758;
$secondary900: #07132c;
$secondary950: #050e1f;

$accent1-50: #eaf6fa;
$accent1-100: #d6eef5;
$accent1-200: #acddec;
$accent1-300: #83cce2;
$accent1-400: #5abbd8;
$accent1-500: #30aacf;
$accent1-600: #2788a5;
$accent1-700: #1d667c;
$accent1-800: #134453;
$accent1-900: #0a2229;
$accent1-950: #07181d;

$accent2-50: #f8ecf8;
$accent2-100: #f1daf1;
$accent2-200: #e4b4e2;
$accent2-300: #d68fd4;
$accent2-400: #c969c6;
$accent2-500: #bb44b7;
$accent2-600: #963693;
$accent2-700: #70296e;
$accent2-800: #4b1b49;
$accent2-900: #250e25;
$accent2-950: #1a091a;
