@use './text-styles';
@use './charter';

* {
  margin: 0;
  padding: 0;

  leading-trim: both;
  text-edge: cap;
  font-feature-settings:
    'liga' off,
    'clig' off;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.content {
  @include text-styles.paragraphMediumRegular;
  color: charter.$neutrals700;

  a:not(.button) {
    text-decoration: underline;
    color: charter.$neutrals700;
  }
  ul {
    margin-left: 1em;
  }
}
