h1 {
  color: red;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  box-shadow: 0 0 150px rgba(0, 0, 0, 0.99) inset;
  overflow-y: auto;
}
