@mixin display2SemiBold {
  /* Display/2/Semi Bold */
  font-family: var(--font-inter), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

@mixin display3Regular {
  /* Display/3/Regular */
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

@mixin display3SemiBold {
  /* Display/3/Semi Bold */
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
}

@mixin heading1 {
  /* Heading 1 */
  font-family: var(--font-gatsby), sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 112.5% */
  text-transform: uppercase;
}

@mixin heading2 {
  /* Heading 2 */
  font-family: var(--font-gatsby), sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 110% */
  text-transform: uppercase;
}

@mixin heading3 {
  /* Heading 3 */
  font-family: var(--font-gatsby), sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
}

@mixin paragraphMediumRegular {
  /* Paragraph/Medium/Regular */
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
