@mixin display2SemiBold {
  /* Display/2/Semi Bold */
  font-family: var(--font-inter), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

@mixin display2Regular {
  /* Display/2/Regular */
  font-family: var(--font-inter), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

@mixin display3Regular {
  /* Display/3/Regular */
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

@mixin display3SemiBold {
  /* Display/3/Semi Bold */
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
}

@mixin display4SemiBold {
  /* Display/4/Semi Bold */
  font-family: var(--font-inter), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

@mixin heading1 {
  /* Fluufff 26 (Desktop)/Heading 1 */
  font-family: var(--font-atari), sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 140% */
}

@mixin heading2 {
  /* Fluufff 26 (Desktop)/Heading 2 */
  font-family: var(--font-atari), sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 146.667% */
}

@mixin heading3 {
  /* Fluufff 26 (Desktop)/Heading 3 */
  font-family: var(--font-atari), sans-serif;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
}

@mixin heading4 {
  /* Fluufff 26 (Desktop)/Heading 4 */
  font-family: var(--font-inter), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

@mixin paragraphMediumRegular {
  /* Paragraph/Medium/Regular */
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@mixin paragraphDefaultRegular {
  /* Paragraph/Default/Regular */
  font-family: var(--font-inter), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
