@mixin display2Bold {
  /* Display/2/Semi Bold */
  font-family: var(--font-inter), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

@mixin display3Regular {
  /* Display/3/Regular */
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
