---
import { Picture } from 'astro:assets'
interface Props {
  headline: string
  sideImage?: ImageMetadata
  right?: boolean
  bg?: 'darker'
}

const { headline, bg, sideImage, right } = Astro.props
---

<section class="content" class:list={[bg, { withSide: !!sideImage, right }]}>
  {
    !sideImage && (
      <>
        <h2>{headline}</h2>
        <slot />
        <div class="content__actions">
          <slot name="actions" />
        </div>
      </>
    )
  }
  {
    !!sideImage && (
      <>
        <Picture
          src={sideImage}
          formats={['avif', 'webp']}
          fallbackFormat="jpg"
          alt=""
          widths={[400, 800, 1200]}
        />
        <div class="content__side_container">
          <h2>{headline}</h2>
          <slot />
          <div class="content__actions">
            <slot name="actions" />
          </div>
        </div>
      </>
    )
  }
</section>

<style lang="scss" is:global>
  @use '../../styles/text-styles';
  @use '../../styles/charter';

  .content {
    padding: 80px 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: charter.$neutrals700;
    background: charter.$neutrals100;

    &.withSide {
      flex-direction: row;
      gap: 92px;

      &, .content__side_container {
        > p {
          text-align: left;
        }
      }
    }

    .content__side_container {
      flex: 1;
    }

    > picture {
      flex: 1;

      > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
      }
      pointer-events: none;
      position: relative;
      width: 50%;
    }

    &,
    .content__side_container {
      > h2 {
        @include text-styles.heading2;
        margin-bottom: 16px;
      }

      > p {
        @include text-styles.paragraphMediumRegular;
        text-align: center;
        color: charter.$neutrals600;

        & + p {
          margin-top: 32px;
        }
      }

      .content__actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 32px;
        gap: 16px;
      }
    }

    &.darker {
      background: charter.$neutrals200;
    }
  }
</style>
