---
import Logo from '../../assets/logo.svg'
import { Icon } from 'astro-icon/components'
---

<footer>
  <div class="footer__socials">
    <Logo class="footer__socials__logo" height={40} width="" />
    <div class="socials__list">
      <a href="https://t.me/fluufff_announcements" target="_blank" rel="noreferrer"
        ><Icon name="cib:telegram-plane" /></a
      >
      <a href="https://www.facebook.com/fluufff/" target="_blank" rel="noreferrer"><Icon name="mdi:facebook" /></a>
      <a href="https://twitter.com/FluufffCon" target="_blank" rel="noreferrer"><Icon name="mdi:twitter" /></a>
      <a href="https://mastodon.social/@fluufffCon" target="_blank" rel="noreferrer"><Icon name="ri:mastodon-fill" /></a
      >
      <a href="https://bsky.app/profile/fluufffcon.bsky.social" target="_blank" rel="noreferrer"
        ><Icon name="ri:bluesky-fill" /></a
      >
      <a href="https://youtube.com/@fluufff" target="_blank" rel="noreferrer"><Icon name="ri:youtube-fill" /></a>
    </div>
  </div>
  <div class="footer__links">
    <h4>About us</h4>
    <a href="/">Mission</a>
    <a href="/">Dream Team</a>
    <a href="/">Previous Editions</a>
    <a href="/">Volunteering</a>
  </div>
  <div class="footer__links">
    <h4>Attend</h4>
    <a href="/">Tickets</a>
    <a href="/">Hotel + Rooms</a>
    <a href="/">Food and drinks</a>
    <a href="/">Practical info</a>
    <a href="/">Terms and Rules</a>
  </div>
  <div class="footer__links">
    <h4>Program</h4>
    <a href="/">Dances</a>
    <a href="/">Dealer's den</a>
    <a href="/">Panels</a>
    <a href="/">Flüüfff Finale</a>
    <a href="/">Host your own</a>
  </div>
  <div class="footer__links">
    <h4>Contact us</h4>
    <a href="/">Information</a>
    <a href="/">Help Center</a>
  </div>
</footer>
<div class="footer_legals">
  <span>Copyright © 2025 Flüüfff</span>
  <span>All Rights Reserved</span>
  <a href="/">Terms and Conditions</a>
  <a href="/">Privacy Policy</a>
</div>

<style lang="scss" is:global>
  @use '../../styles/charter';
  @use '../../styles/text-styles';

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 72px 0;
    margin-top: auto;

    > .footer__socials {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;

      > .footer__socials__logo {
        fill: charter.$neutrals600;
      }

      > .socials__list {
        display: flex;
        flex-direction: row;
        gap: 16px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 24px;
          width: 24px;
          background: charter.$secondary500;
          border-radius: 5px;

          [data-icon] {
            font-size: 14px;
            color: charter.$neutrals100;
          }
        }
      }
    }

    > .footer__links {
      display: flex;
      flex-direction: column;
      gap: 16px;

      h4 {
        @include text-styles.display3SemiBold;
        margin-bottom: 8px;
        color: charter.$neutrals700;
      }

      a {
        @include text-styles.display3Regular;
        color: charter.$neutrals600;
      }
    }
  }

  .footer_legals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    @include text-styles.display3Regular;
    border-top: solid 1px charter.$neutrals300;

    > * {
      display: block;
      padding: 0 8px;

      color: charter.$neutrals700;
    }

    * + * {
      border-left: solid 1px charter.$neutrals300;
    }

    > a {
      text-decoration: underline;
    }
  }
</style>
