---
import Logo from '../../assets/logo.svg'
---

<nav id="preheader">
  <div id="preheader_links">
    <a href="/">Staff & Volunteering</a>
    <a href="/">Register</a>
  </div>
</nav>
<nav id="header">
  <Logo height={48} width="" />
  <nav id="header_links">
    <a href="/" class="active">Home</a>
    <a href="/">Attend</a>
    <a href="/">Program</a>
    <a href="/">About</a>
    <a href="/">Contact</a>
  </nav>
</nav>
<div id="registration_banner">
  <div id="registration_banner_text">Registration opens in…</div>
  <div id="registration_banner_countdown">
    <div><span class="time">08</span><span class="label">Days</span></div>
    :
    <div><span class="time">12</span><span class="label">Hours</span></div>
    :
    <div><span class="time">44</span><span class="label">Minutes</span></div>
    :
    <div><span class="time">28</span><span class="label">Seconds</span></div>
  </div>
</div>

<style is:global lang="scss">
  @use '../../styles/charter';
  @use '../../styles/text-styles';

  #registration_banner {
    display: flex;
    padding: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background: charter.$accent700;

    #registration_banner_countdown {
      display: flex;
      flex-direction: row;
      gap: 2px;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 2em;
      }
    }

    #registration_banner_countdown .label {
      color: charter.$accent300;
      font-family: var(--font-inter), sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 12px;
    }

    #registration_banner_text,
    #registration_banner_countdown {
      color: charter.$neutrals100;
      font-family: var(--font-gatsby), sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 125% */
      text-transform: uppercase;
    }
  }

  #header {
    display: flex;
    padding: 24px 32px;
    justify-content: space-between;
    align-items: center;
    background: charter.$primary100;

    > svg {
      fill: charter.$primary700;
    }

    &_links {
      display: flex;
      gap: 35px;

      a {
        color: charter.$primary600;
        @include text-styles.display3Regular;
        text-align: center;

        &.active {
          font-weight: 700;
        }
      }
    }
  }

  #preheader {
    display: flex;
    padding: 24px 32px;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    background: charter.$primary700;

    &_links {
      display: flex;
      gap: 35px;

      a {
        color: charter.$neutrals100;
        @include text-styles.display2SemiBold;
        text-align: center;
      }
    }
  }
</style>
