---
import Base from '../layouts/Base.astro'
import Logo from '../assets/logo.svg'
---

<Base>
    <div id="main">
        <div id="main_logo">
            <Logo height={32}/>
            <span>Forest Fantasy</span>
        </div>
        <span class="separator"></span>
        <div id="info">
            <p id="date">November 5th-9th, 2025</p>
            <p id="location">Bedford Hotel, Brussels, Belgium</p>
            <p id="comingsoon">Coming soon!</p>
        </div>
    </div>
    <div id="socials">
        <p>Follow us on:</p>
        <div id="socials_links">
            <a href="https://bsky.app/profile/fluufffcon.bsky.social" target="_blank" rel="noreferrer">Bluesky</a> ~
            <a href="https://t.me/fluufff_announcements" target="_blank" rel="noreferrer">Telegram</a> ~
            <a href="https://www.furaffinity.net/user/fluufff/" target="_blank" rel="noreferrer">FurAffinity</a> ~
            <a href="https://www.facebook.com/fluufff/" target="_blank" rel="noreferrer">Facebook</a> ~
            <a href="https://beta.furrynetwork.com/fluufff/" rel="noreferrer">FurryNetwork</a> ~
            <a href="https://twitter.com/FluufffCon" target="_blank" rel="noreferrer">Twitter</a>
        </div>
        <p id="belgium">Made with ❤️ and 🍺 in 🇧🇪 !</p>
    </div>
</Base>

<style is:global lang="scss">
  @use 'sass:color';
  @use 'sass:map';
  @use '../styles/charter';

  body {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #main {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    margin-top: auto;
    max-width: 100%;

    .separator {
      width: 2px;
      background: linear-gradient(
                      color.change(map.get(charter.$artNouveau1, 'red'), $alpha: 0),
                      map.get(charter.$artNouveau1, 'red') 20%,
                      map.get(charter.$artNouveau1, 'red') 80%,
                      color.change(map.get(charter.$artNouveau1, 'red'), $alpha: 0)
      );
    }

    $base: color.change(map.get(charter.$forestFantasy, 'brown'), $alpha: 90%, $lightness: 10%);
    $transparent: color.change($base, $alpha: 0%);

    background-image: radial-gradient(circle, $base 0%, $base 40%, $transparent 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  #main_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: auto 0;

    /* border-top: solid 4px map.get(charter.$artNouveau2, 'brown');
    border-bottom: solid 4px map.get(charter.$forestFantasy, 'brown'); */
    padding: 16px;
    align-self: stretch;

    /* background: linear-gradient(
      color.change(map.get(charter.$artNouveau2, 'brown'), $alpha: 0.95) 0%,
      color.change(map.get(charter.$forestFantasy, 'brown'), $alpha: 0.95) 70%
    );*/

    // backdrop-filter: sepia(100%) blur(4px);

    fill: map.get(charter.$artNouveau1, 'beige');

    > svg {
      height: 48px !important;
      overflow: visible;
      filter: drop-shadow(
        0 5px 15px
          color.change(map.get(charter.$artNouveau1, 'black'), $alpha: 0.5)
      );
    }

    > span {
      font-size: 32px;
      font-family: 'Boecklins Universe', serif;
      color: color.change(
                      map.get(charter.$forestFantasy, 'orange'),
              $lightness: 45%
      );
      text-shadow: 0 1px 1px map.get(charter.$artNouveau1, 'red');
    }
  }

  #info {
    display: flex;
    flex-direction: column;
    // backdrop-filter: sepia(90%) blur(2px);
    padding: 16px;
    gap: 8px;
    /*background: color.change(
      map.get(charter.$artNouveau1, 'beige'),
      $alpha: 0.5
    );*/

    font-family: 'Sunlight Dreams', serif;
    color: map.get(charter.$artNouveau1, 'beige');

    > p {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;
    }

    #date {
      font-size: 24px;

      color: color.change(
                      map.get(charter.$forestFantasy, 'orange'),
              $lightness: 45%
      );
      text-shadow: 0 1px 1px map.get(charter.$artNouveau1, 'red');
    }

    #location {
      color: color.change(
                      map.get(charter.$forestFantasy, 'red'),
              $lightness: 45%
      );
      font-size: 20px;
    }

    #comingsoon {
      font-size: 40px;
      font-family: 'Boecklins Universe', serif;
      margin-top: 16px;
      text-shadow: 0 1px 1px map.get(charter.$artNouveau1, 'red');
    }
  }

  #socials {
    font-family: 'Sunlight Dreams', serif;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 4px;

    p {
      color: map.get(charter.$artNouveau1, 'yellow');

      &#belgium {
        opacity: .8;
        font-size: 12px;
        color: map.get(charter.$forestFantasy, 'orange');
      }
    }

    #socials_links {
      color: map.get(charter.$artNouveau1, 'yellow');
      text-shadow: 0 1px 1px map.get(charter.$artNouveau1, 'red');
      display: flex;
      flex-direction: row;
      gap: 8px;
      justify-content: center;

      a {
        color: map.get(charter.$artNouveau1, 'beige');
        text-shadow: none;
        text-decoration: none;
      }
    }
  }

  @media (orientation: portrait) {
    body {
      background-color: color.change(map.get(charter.$forestFantasy, 'brown'), $alpha: 0.85, $lightness: 10%);
    }
    #main {
      flex-direction: column;
      background: none;

      .separator {
        height: 2px;
        width: auto;
        background: linear-gradient(to right,
                        color.change(map.get(charter.$artNouveau1, 'red'), $alpha: 0),
                        map.get(charter.$artNouveau1, 'red') 20%,
                        map.get(charter.$artNouveau1, 'red') 80%,
                        color.change(map.get(charter.$artNouveau1, 'red'), $alpha: 0)
        );
      }
    }

    #socials_links {
      flex-wrap: wrap;
    }
  }
</style>
