---
import Content from '../components/sections/Content.astro'
---

<Content headline="Highlights from previous editions" class:list="highlights">
  <p>
    Over the years, Flüüfff has grown into a gathering filled with wonder,
    laughter, and heartfelt connection. From magical performances to spontaneous
    silliness, every edition leaves behind a trail of memories — and we can’t
    wait to see what unfolds next.
  </p>
</Content>

<style lang="scss" is:global>
  .content.hightlights {
  }
</style>
