---
import { Icon } from 'astro-icon/components'
import Content from '../components/sections/Content.astro'
---

<Content headline="Join the Flüüfff community!" bg="primary" class="socials">
  <div class="socials__list">
    <a href="https://t.me/fluufff_announcements" target="_blank" rel="noreferrer"><Icon name="cib:telegram-plane" /></a>
    <a href="https://www.facebook.com/fluufff/" target="_blank" rel="noreferrer"><Icon name="mdi:facebook" /></a>
    <a href="https://twitter.com/FluufffCon" target="_blank" rel="noreferrer"><Icon name="mdi:twitter" /></a>
    <a href="https://bsky.app/profile/fluufffcon.bsky.social" target="_blank" rel="noreferrer"
      ><Icon name="ri:bluesky-fill" /></a
    >
    <a href="https://youtube.com/@fluufff" target="_blank" rel="noreferrer"><Icon name="ri:youtube-fill" /></a>
  </div>
</Content>
<style lang="scss" is:global>
  @use '../styles/charter';
  @use '../styles/text-styles';

  .socials {
    flex-direction: row;
    justify-content: space-between;

    h2 {
      margin: 0;
    }

    .socials__list {
      display: flex;
      flex-direction: row;
      row-gap: 16px;
      column-gap: 35px;
      justify-content: flex-end;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        background: charter.$neutrals100;
        border-radius: 5px;

        [data-icon] {
          font-size: 24px;
          color: charter.$primary500;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .socials {
      gap: 16px;
      flex-direction: column;
      .socials__list {
        justify-content: center;
      }
    }
  }

  @media (max-width: 450px) {
    .socials__list {
      max-width: 250px;
      flex-wrap: wrap;
    }
  }
</style>
