---
import { Icon } from 'astro-icon/components'
---

<div class="accordion-item__header">
  <span><slot name="header" /></span><Icon name="mdi:close" />
</div>
<div class="accordion-item__content"><slot /></div>
