---
import { Icon } from 'astro-icon/components'

interface Props {
  question: string
}

const { question } = Astro.props
---

<div class="faq-item__question"><span>{question}</span><Icon name="mdi:close" /></div>
<div class="faq-item__answer"><slot /></div>

<style is:global lang="scss">
  @use '../styles/charter';
  @use '../styles/text-styles';

  .faq_questions {
    counter-reset: question_number;
    max-width: 650px;

    &.collapsible {
      .faq-item__question {
        > [data-icon] {
          visibility: visible;
          transform: rotate(45deg);
        }

        &.active > [data-icon] {
          transform: rotate(0deg);
        }
      }

      .faq-item__answer {
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0;

        &.active {
          height: auto;
          opacity: 1;
          visibility: visible;
          padding: 0 32px 30px 40px;
        }
      }
    }


    .faq-item__answer + .faq-item__question {
      border-top: solid 1px charter.$neutrals400;
    }

    .faq-item__question {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 30px 10px;
      cursor: pointer;

      @include text-styles.heading4;
      color: charter.$secondary500;
      align-items: center;

      > span {
        flex: 1;
        height: 22px;
        margin-right: 16px;
      }

      &:before {
        counter-increment: question_number;
        content: "0" counter(question_number);

        @include text-styles.display4SemiBold;
      }

      > [data-icon] {
        display: block;
        visibility: hidden;
      }
    }

    .faq-item__answer {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      font-family: var(--font-inter), sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 137.5% */
      padding: 0 32px 30px 40px;
    }
  }
</style>
