@font-face {
  font-family: 'Boecklins Universe';
  src: url('BoecklinsUniverse.woff2') format('woff2'),
  url('BoecklinsUniverse.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
